<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569496894373-qb6ls6cag78ai7g6293tei9rp2pm42is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569496894373-qb6ls6cag78ai7g6293tei9rp2pm42is</string>
	<key>API_KEY</key>
	<string>AIzaSyBybS1vpFqOFQOArin56Wi-Y9P0wnKhgjg</string>
	<key>GCM_SENDER_ID</key>
	<string>569496894373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marizack.PushTest</string>
	<key>PROJECT_ID</key>
	<string>pushtest-apns</string>
	<key>STORAGE_BUCKET</key>
	<string>pushtest-apns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569496894373:ios:071499e5e225a5b56a864c</string>
	<key>DATABASE_URL</key>
	<string>https://pushtest-apns.firebaseio.com</string>
</dict>
</plist>